.container {
    width: 60%;
    height: 70px;
    background-color: #fff;
    border-radius: 0 0 40px 40px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 0 10px #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 30px;
}

.logo {
    width: 70px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 25px;
}

.item {
    width: 60px;
    height: 30px;
    border-radius: 999px;
    background-color: #dffbe6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
}

.item:hover {
    cursor: pointer;
    background-color: #daf8e1;
    box-shadow: 0 0 8px #86ffa8;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #EDFAF0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img {
    width: 40%;
}

.profile:hover {
    background-color: #daf8e1;
    cursor: pointer;
}

.themeChangeBtn {
    position: fixed;
    top: 20px;
    left: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #86ffa8;
}

.themeChangeBtn:hover {
    cursor: pointer;
}